body {
  margin: 0;
  background: linear-gradient(135deg, #0f5c7f, #005f73);
  font-family: 'Sarabun', sans-serif;
  color: black;
  text-align: center;
}

.title {
  color: white;
  font-size: 26px;
  margin-top: 20px;
}

.subtitle {
  background-color: #b3ecf2;
  padding: 10px 0;
  font-size: 20px;
  margin: 0;
}

.filter-bar {
  background-color: #b3ecf2;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

select {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: #0055a5;
  color: white;
  cursor: pointer;
}

.table-wrapper {
  background: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid black;
}

th {
  background-color: #eaeaea;
  font-weight: bold;
}

.back-btn {
  margin: 30px auto;
  display: block;
  background-color: #4dd0e1;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #00acc1;
  color: white;
}
